
.inputID {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 300px; 
  }
  

  .inputID input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
  }
  

  .inputID button {
    padding: 8px 16px;
    background-color: #3498db; 
    color: white;
    border: none;
    cursor: pointer;
  }
  

  .inputID p {
    margin-top: 10px;
    font-size: 14px;
    color: #2c3e50; 
  }
  