body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #ecf0f1; 
  color: #34495e; 
}

.App {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 28px;
  color: #2980b9; 
  margin-bottom: 5px;
}

h2 {
  text-align: center;
  font-size: 22px;
  color: #e74c3c; 
}

.inputID {
  align-content: center;
}

.best-runway {
  font-size: 22px;
  color: #e74c3c; 
  margin-bottom: 5px; 
}

.airport-info,
.compass {
  margin: 20px auto;
}

