body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #ecf0f1; 
  color: #34495e; 
}

.App {
  text-align: center;
}


h1 {
  text-align: center;
  font-size: 28px;
  color: #2980b9; 
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  font-size: 22px;
  color: #e74c3c; /* Aviation red color */
  margin-bottom: 10px;
}

.inputID {
  align-content: center;
}
/* Center the airport-info and compass sections */
.airport-info,
.compass {
  margin: 20px auto;
}
